<mat-tab-group 
    class="mat-elevation-z8" 
    color="accent"
    [(selectedIndex)]="selectedTabIndex">
    <mat-tab>
    <ng-template mat-tab-label>#</ng-template>
    <ng-template matTabContent>
        <div class="chart">
        <mat-grid-list cols="3" rowHeight="48px" style="margin: 0 0.5em 0 0.5em;" >
            <mat-grid-tile class="summary-tile">
            <div class="wrap-item">
                <div class="vw-tiny">Total cases:</div>
                <div class="vw-huge">
                {{currentCountry.cases | number}}
                </div>
            </div>
            </mat-grid-tile>
            <mat-grid-tile>
            <div class="wrap-item">
                <div class="vw-tiny">Recovered:</div>
                <div class="vw-huge">
                {{currentCountry.recovered | number}}
                </div>
            </div>
            </mat-grid-tile>
            <mat-grid-tile>
            <div class="wrap-item">
                <div class="vw-tiny">Deaths:</div>
                <div class="vw-huge">
                {{currentCountry.deaths | number}}
                </div>
            </div>
            </mat-grid-tile>
            <mat-grid-tile>
            <div class="wrap-item">
                <div class="vw-tiny">New cases:</div>
                <div class="vw-huge">
                {{currentCountry.delta | number}}
                <mat-icon [inline]=true *ngIf="currentCountry.deltaDelta > 0" class="warn">arrow_drop_up</mat-icon>
                <mat-icon [inline]=true *ngIf="currentCountry.deltaDelta < 0" class="green">arrow_drop_down</mat-icon>
                <mat-icon [inline]=true *ngIf="currentCountry.deltaDelta == 0">arrow_right</mat-icon>
                </div>
            </div>  
            </mat-grid-tile>
            <mat-grid-tile>
            <div class="wrap-item">
                <div class="vw-tiny">New recovered:</div>
                <div class="vw-huge">
                {{currentCountry.recoveredDelta | number}}
                </div>
            </div>  
            </mat-grid-tile>
            <mat-grid-tile>
            <div class="wrap-item">
                <div class="vw-tiny">New deaths:</div>
                <div class="vw-huge">
                {{currentCountry.deathsDelta | number}}
                </div>
            </div>  
            </mat-grid-tile>
            <mat-grid-tile>
            <div class="wrap-item">
                <div class="vw-tiny">Active cases:</div>
                <div class="vw-huge">
                {{currentCountry.active | number}}
                <mat-icon inline=true *ngIf="currentCountry.activeDelta > 0" class="warn">arrow_drop_up</mat-icon>
                <mat-icon inline=true *ngIf="currentCountry.activeDelta < 0" class="green">arrow_drop_down</mat-icon>
                <mat-icon inline=true *ngIf="currentCountry.activeDelta == 0">arrow_right</mat-icon>
                </div>
            </div>
            </mat-grid-tile>
            <mat-grid-tile>
            <div class="wrap-item">
                <div class="vw-tiny with-subscript">R<sub>0</sub> estimation:</div>
                <div class="vw-huge">
                <span *ngIf="currentCountry.reproductionNumber > 1.01" 
                    class="warn">{{currentCountry.reproductionNumber | number:'1.1-1' }}
                </span>
                <span *ngIf="currentCountry.reproductionNumber <= 1.01" 
                    class="green">{{currentCountry.reproductionNumber | number:'1.1-1' }}
                </span>
                <mat-icon [inline]=true *ngIf="currentCountry.reproductionNumberDelta > 0" class="warn">arrow_drop_up</mat-icon>
                <mat-icon [inline]=true *ngIf="currentCountry.reproductionNumberDelta < 0" class="green">arrow_drop_down</mat-icon>
                <mat-icon [inline]=true *ngIf="currentCountry.reproductionNumberDelta == 0">arrow_right</mat-icon>
                </div>
            </div>
            </mat-grid-tile>
            <mat-grid-tile>
            <div class="wrap-item">
                <div class="vw-tiny">Mobility change:</div>
                <div class="vw-huge">
                    <span *ngIf="currentCountry.mobilityChange">
                        {{currentCountry.mobilityChange | number:'1.0-0' }}%
                    </span>
                    <span *ngIf="!currentCountry.mobilityChange">
                        - - - -
                    </span>
                </div>
            </div>
            </mat-grid-tile>
        </mat-grid-list>
        </div>
        <div class="center">
            Latest updated on {{currentCountry.updated | date}}
        </div>
    </ng-template>
    </mat-tab>
    <mat-tab>
    <ng-template mat-tab-label>&Sigma;</ng-template>
    <ng-template matTabContent>
        <div class="chart">
        <ngx-charts-area-chart-stacked
            [scheme]="colorScheme"
            [legend]="legend"
            [legendPosition]="legendPosition"
            [showXAxisLabel]="false"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="'Total cases: T=A+R+D over time'"
            [yAxisTickFormatting]="yAxisTickFormattingFn"
            [xAxisTicks]="deltaTimeTicks"
            [xAxisTickFormatting]="dateAxisTickFormattingFn"
            [xScaleMin]="xTimeScaleMin"
            [results]="currentCasesSeries"
            [timeline]="timeline"
            (select)="onSelect($event)">
        </ngx-charts-area-chart-stacked>
        </div>      
        <div class="center">
        <span class="active-color">active</span>, 
        <span class="recovered-color">recovered</span>, 
        <span class="deaths-color">deaths</span>:&nbsp;
        T = A + R + D
        </div>
    </ng-template> 
    </mat-tab>
    <mat-tab>
    <ng-template mat-tab-label>&Delta;</ng-template>
    <ng-template matTabContent>
        <div class="chart">
        <ngx-charts-area-chart
            [scheme]="deltaColorScheme"
            [legend]="legend"
            [legendPosition]="legendPosition"
            [showXAxisLabel]="false"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="'Total cases: T=A+R+D over time'"
            [yAxisTickFormatting]="yAxisTickFormattingFn"
            [xAxisTicks]="deltaTimeTicks"
            [xAxisTickFormatting]="dateAxisTickFormattingFn"
            [xScaleMin]="xTimeScaleMin"
            [results]="currentDeltaSeries"
            [timeline]="timeline"
            (select)="onSelect($event)">
        </ngx-charts-area-chart>
        </div>
        <div class="center">
        <span class="active-color">daily cases (7 days avg.)</span>, 
        <span class="deaths-color">daily deaths</span>
        </div>
    </ng-template>
    </mat-tab>
    <mat-tab>
    <ng-template mat-tab-label><div style="margin-bottom: -4px;">R<sub>0</sub></div></ng-template>
    <ng-template matTabContent>
        <div class="chart">
        <ngx-charts-line-chart
            [showXAxisLabel]="false"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="'Reproduction number over time'"
            [yAxisLabel]="dAxisLabel"
            [xScaleMin]="xTimeScaleMin"
            [yScaleMax]="'5'"
            [yAxisTicks]="reproductionTicks"
            [xAxisTicks]="deltaTimeTicks"
            [xAxisTickFormatting]="dateAxisTickFormattingFn"
            [results]="currentReproductionSeries"
            [timeline]="timeline"
            (select)="onSelect($event)">
        </ngx-charts-line-chart>
        </div>
        <div class="center">
        reproduction number (7 days avg.)
        </div>
    </ng-template>
    </mat-tab>
    <mat-tab>
    <ng-template mat-tab-label>M</ng-template>
    <ng-template matTabContent>
        <div class="chart">
        <ngx-charts-line-chart
            [scheme]="mobilityColorScheme"
            [showXAxisLabel]=false
            [showYAxisLabel]=false
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xScaleMin]="xTimeScaleMin"
            [xScaleMax]="xTimeScaleMax"
            [yScaleMax]="'100'"
            [yScaleMin]="'-100'"
            [xAxisTicks]="deltaTimeTicks"
            [xAxisTickFormatting]="dateAxisTickFormattingFn"
            [results]="currentMobilitySeries">
        </ngx-charts-line-chart>
        </div>
        <div class="center">
        population mobility [% of Jan. 2020] 
        </div>
    </ng-template>
    </mat-tab>
    <!-- <mat-tab>
    <ng-template mat-tab-label>lnT</ng-template>
    <ng-template matTabContent>
        <div class="chart">
        <ngx-charts-line-chart
            [legend]="legend"
            [legendPosition]="legendPosition"
            [showXAxisLabel]="false"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisTickFormatting]="dateAxisTickFormattingFn"
            [yAxisTickFormatting]="logAxisTickFormattingFn"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [yAxisTicks]="yLogTicks"
            [xAxisLabel]="'Total cases (logarithmic): T over time'"
            [yAxisLabel]="yLogLabel"
            [xScaleMin]="xTimeScaleMin"
            [yScaleMin]="yLogScaleMin"
            [yScaleMax]="yLogScaleMax"
            [results]="currentLogSeries"
            [timeline]="timeline"
            [tooltipDisabled]=true
            (select)="onSelect($event)">
        </ngx-charts-line-chart>
        </div>
        <div class="center">
            total cases (logarithmic)
        </div>
    </ng-template>
    </mat-tab> -->
</mat-tab-group>
