@import "../variables.scss";

.chart {
  width: auto;
  height: 30vh;
}

.wrap-item {
  width: 100%; 
  margin-top: 5px;
}

.vw-huge {
  font-size: larger;
  font-weight: bold;
}

.vw-tiny {
  font-size: smaller;
}

