@import "variables.scss";

.host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.wrap-item {
  text-align: left;
  margin-top: 5px;
}

.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
}

.vw-huge {
  font-size: larger;
  font-weight: bold;
}

.vw-tiny {
  font-size: smaller;
}

table.tr {
  height: 12px;
}

.with-subscript {
  margin-bottom: -4px;
}

.selected {
  background-color: $accent;
}

.case-card {
  width: auto;
  height: auto;
  margin-bottom: 10px;
}

.chart {
  width: auto;
  height: 30vh;
}

.sticky-top {
  background-color: white;
  z-index: 8;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.sticky-bottom {
  background-color: white;
  z-index: 8;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
}

.center {
  text-align: center;
  align-content: center;
}

.bold {
  font-weight: bold;
}

.chart-title {
  text-align: center;
}

table.summary-table {
  border-collapse:separate; 
  border-spacing:3px 3px; 
  width: 100%
}

.small-icon {
  width: 28px!important;
  object-fit: contain;
  margin-right: 3px;
}

.mat-footer-cell {
  font-size: smaller;
  background-color: $primary-light;
  font-weight: bold;
}

.mat-column-country {
  min-width: 100px;
}

mat-cell:first-child, mat-footer-cell:first-child, mat-header-cell:first-child {
  padding-left: 5px!important;
}

mat-cell:last-child, mat-footer-cell:last-child, mat-header-cell:last-child {
  padding-right: 5px!important;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

table.full-width {
  width: 100%;
}

.highlight {
  background: $accent-light;
}

.toolbar-center {
  flex: 1 1 auto;
  text-align: center;
}

.h-fill {
  flex: 1 1 auto;
}

.menu-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.menu-radio-button {
  margin: 5px;
}

.align-right-cell {
  display: flex;
  justify-content: flex-end;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.dimmed {
  font-weight: lighter;
}

.bold {
  font-weight: bolder;
}

.small {
  font-size: smaller;
  text-align: left;
}

.large {
  font-size: x-large;
  font-weight: bold;
}

.warn {
  color: $warn;
}

.active-color {
  color: #ff3333;
}

.infectious-color {
  color: #ff3333;
}

.not-infectious-color {
  color: #ff6666;
}

.recovered-color {
  color: #33aa33;
}

.deaths-color {
  color: #3333ff;
}

.green {
  color: green;
}

.mat-tab-link, .mat-tab-label, .mat-tab-label-active {
  min-width: 20px!important;
  min-height: 32px!important;
  height: 32px!important;
}