<div class="host">
  <app-toolbar [currentCountry]="currentCountry" [currentHistory]="currentHistory">
  </app-toolbar>
  <div class="content" fxLayout="column">
    <div class="sticky-top">
      <app-graphics [currentCountry]="currentCountry" [currentHistory]="currentHistory"
      (selectedTabIndexChange)="selectedTabIndex=$event">
      </app-graphics>
    </div>
    
    <mat-table [dataSource]="tableData" class="full-width mat-elevation-z8" matSort matSortStart="desc">
      <ng-container matColumnDef="country">
        <mat-footer-cell *matFooterCellDef mat-sort-header start="asc" >Country </mat-footer-cell>
        <mat-cell *matCellDef="let element">
          <img class="small-icon" src={{element.flag}}/> {{element.country}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cases">
        <mat-footer-cell *matFooterCellDef mat-sort-header class="align-right-cell"> &Sigma; </mat-footer-cell>>
        <mat-cell *matCellDef="let element" class="align-right-cell"> {{element.cases}}</mat-cell>>
      </ng-container>

      <ng-container matColumnDef="delta">
        <mat-footer-cell *matFooterCellDef mat-sort-header class="align-right-cell"> &Delta; </mat-footer-cell>>
        <mat-cell *matCellDef="let element" class="align-right-cell"> {{element.delta}}</mat-cell>>
      </ng-container>

      <ng-container matColumnDef="active">
        <mat-footer-cell *matFooterCellDef mat-sort-header class="align-right-cell warn"> A </mat-footer-cell>>
        <mat-cell *matCellDef="let element" class="align-right-cell"> {{element.active}}</mat-cell>>
      </ng-container>

      <ng-container matColumnDef="recovered">
        <mat-footer-cell *matFooterCellDef class="align-right-cell green" mat-sort-header> R </mat-footer-cell>>
        <mat-cell *matCellDef="let element" class="align-right-cell"> {{element.recovered}} </mat-cell>>
      </ng-container>

      <ng-container matColumnDef="deaths">
        <mat-footer-cell *matFooterCellDef mat-sort-header class="align-right-cell"> &Theta; </mat-footer-cell>>
        <mat-cell *matCellDef="let element" class="align-right-cell"> {{element.deaths}}</mat-cell>>
      </ng-container>

      <ng-container matColumnDef="critical">
        <mat-footer-cell *matFooterCellDef mat-sort-header class="align-right-cell warn"> C </mat-footer-cell>>
        <mat-cell *matCellDef="let element" class="align-right-cell"> {{element.critical}}</mat-cell>>
      </ng-container>

      <ng-container matColumnDef="infectionRate">
        <mat-footer-cell *matFooterCellDef mat-sort-header class="align-right-cell"> <div style="margin-bottom: -4px;">r<sub>0</sub></div> </mat-footer-cell>>
        <mat-cell *matCellDef="let element" class="align-right-cell"> {{element.infectionRate | number:'1.1-1'}}%</mat-cell>>
      </ng-container>

      <ng-container matColumnDef="reproductionNumber">
        <mat-footer-cell *matFooterCellDef mat-sort-header class="align-right-cell"> <div style="margin-bottom: -4px;">R<sub>0</sub></div> </mat-footer-cell>>
        <mat-cell *matCellDef="let element" class="align-right-cell"> {{element.reproductionNumber | number:'1.1-1'}}</mat-cell>>
      </ng-container>

      <mat-row *matRowDef="let row; columns: displayedColumns" 
        [ngClass]="{'highlight': currentCountry == row}"
        (click)="selectCountry(row)">
      </mat-row>>
      <mat-footer-row *matFooterRowDef="displayedColumns;sticky: true"></mat-footer-row>>

    </mat-table>

    <div style="margin: 15px;">
      <h1>Disclaimer & Credits</h1> 
      <p>This application is work in progress. It is not tested, please do not rely on it.</p>
      <p>Covid-19 data are provided by 
      <a href="https://github.com/NovelCOVID" target="_blank">NovelCOVID</a>.
      </p>
      Mortality rates are taken from 
      <a href="https://www.wolframalpha.com/input/?i=annual+deaths" target="_blank">Wolfram Alpha</a>.
    </div>
  </div>
  <router-outlet></router-outlet>
</div>