@import "variables.scss";

table.tr {
  height: 12px;
}

.selected {
  background-color: $accent;
}

.case-card {
  width: auto;
  height: auto;
  margin-bottom: 10px;
}

.chart {
  width: auto;
  height: 35vh;
  margin-bottom: 10px;
}

.sticky-top {
  background-color: white;
  z-index: 8;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.sticky-bottom {
  background-color: white;
  z-index: 8;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
}

.center {
  text-align: center;
  align-content: center;
}

.bold {
  font-weight: bold;
}

.chart-title {
  text-align: center;
}

table.summary-table {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: center;
}

.summary-table tr {
  height: 14px!important;
  font-size: small;
}

.mat-footer-row, .mat-row {
  min-height: 32px!important;
}

.small-icon {
  width: 28px!important;
  object-fit: contain;
  margin-right: 3px;
}

.mat-cell {
  font-size: smaller;
}

.mat-footer-cell {
  font-size: smaller;
  background-color: $primary-light;
  font-weight: bold;
}

.mat-column-country {
  min-width: 100px;
}

mat-cell:first-child, mat-footer-cell:first-child, mat-header-cell:first-child {
  padding-left: 5px!important;
}

mat-cell:last-child, mat-footer-cell:last-child, mat-header-cell:last-child {
  padding-right: 5px!important;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.recoveredColor {
  color: #5AA454
}

.activeColor {
  color: #E4C454;
}

.deathsColor {
  color: #E44D25
}

table.full-width {
  width: 100%;
}

.highlight {
  background: $accent-light;
}

.toolbar-center {
  flex: 1 1 auto;
  text-align: center;
}

.menu-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.menu-radio-button {
  margin: 5px;
}

.align-right-cell {
  display: flex;
  justify-content: flex-end;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.warn {
  color: $warn;
}

.green {
  color: green;
}

// .mat-tab-link, .mat-tab-label, .mat-tab-label-active {
//   min-width: 20px!important;
// }